<div class="menu_bar_container">
  <div class="menu_bar_logo">
    <img
			src="assets/logo.png"
			alt="playstation logo"
			width="140px"
			height="32px"
		>
  </div>
  <div class="menu_bar_items">
    <ul>
      <li>
      <a href="https://www.linkedin.com/in/amandarll/" target="_blank">
        <img class="icon" src="https://img.icons8.com/?size=100&id=XRDimtpq5vCY&format=png&color=000000" alt="">
        LINKEDIN
      </a>
    </li>
    <li>
      <a href="https://github.com/amd-lima" target="_blank" >
        <img class="icon" src="https://img.icons8.com/?size=100&id=D5XsEXNbhkMI&format=png&color=000000" alt="">
        GITHUB
      </a>
    </li>
    </ul>
  </div>
</div>
